.navbar, .footer {
  max-width: 1920px;
  margin: auto;
}

/* Remove the navbar's default margin-bottom and rounded borders */
#topnav {
  margin-bottom: 0;
  border-radius: 0;
}
#topnav, .dropdown-menu {
    /*background-color: rgba(101,20,7,0.7);*/
    /*background-color: rgba(255,255,255,0.7);*/
    background-color: rgba(50,0,50,0.9);
    border-bottom-style: none;
}

#topnav {
  height: 50px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand > img {
  height: 100px;
  padding: 4px;
  padding-left: 8px;
}

.dropdown-menu > li > a {
  color: #9d9d9d;
}

  /* Body */

#firstrow {
  padding-top: 50px;
}

.purple {
  background-color: rgba(72,0,72,1);
  color: white;
  padding: 200px 100px;
}

.purple > img {
  width: 60%;
  text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

.navbar-text {
  margin-bottom: 0;
}

#footleft {
  margin-top: 15px;
}

#footright {
  margin-top: 10px;
}

#footright > a {
  padding-right: 5px;
}

/* Stops fontawesome icons being blue and having link highlights */
.navbar-text > a {
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
}
